<div class="container">
  <ul class="list-group">
    <li class="list-group-item"><a routerLink="functions">functions</a></li>
    <li class="list-group-item"><a routerLink="ngfor">ngfor</a></li>
    <li class="list-group-item"><a routerLink="ngif">ngif</a></li>
    <li class="list-group-item"><a routerLink="binding">binding</a></li>
    <li class="list-group-item"><a routerLink="ngclass">ngclass</a></li>
    <li class="list-group-item"><a routerLink="ngstyle">ngstyle</a></li>
    <li class="list-group-item"><a routerLink="pipes">pipes</a></li>
    <li class="list-group-item"><a routerLink="onclick">onclick</a></li>
    <li class="list-group-item"><a routerLink="onchange">onchange</a></li>
    <li class="list-group-item"><a routerLink="input">input</a></li>
    <li class="list-group-item"><a routerLink="forms">forms</a></li>
    <li class="list-group-item"><a routerLink="onsubmit">onsubmit</a></li>
    <li class="list-group-item"><a routerLink="validates">validates</a></li>
  </ul>
</div>
